@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: 1.3rem 10rem; */
  background-color: var(--very-light-gray);
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 23%, 36%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --very-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

::-webkit-scrollbar {
  width: 0.4rem;
  color: hsl(256, 26%, 20%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(256, 26%, 20%);
}

/* fonts */

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */
